body{
    display: flex;
    justify-content: center;
    margin-top: 150px;
    background-color: antiquewhite;
    background-color: darkgray;
}

.container {
    width: 600px;     
    padding: 40px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
}


form {
    text-align: center;
    padding: 20px;
    width: 300px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input {
    padding: 3px;
    border-radius: 5px;
    margin-bottom: 5px;
}

button {
    width: 100%;
    padding:5px;
    cursor: pointer;
    border-radius: 25px;
    background-color: blue;

}

button:hover {
    background: antiquewhite;
}

.error {
    color: red;
    font-weight: bold;
}

.success{
    color: green;
    font-weight: bold;
}

#mensagem {
    text-align: center;
}